section[player-bar] {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.3);
  z-index: 100;
  transition: opacity 0.3s ease-out,
              height 0.3s ease-out;
  opacity: 0;
  height: 0;
}

section[player-bar].active {
  height: 200px;
  opacity: 1;
}

section[player-bar] button {
  font-size: 1.1rem;
  vertical-align: middle;
  color: white;
}

section[player-bar] button:hover {
  color: darkgray;
}

section[player-bar] .container {
  display: table;
  padding: 0;
  width: 90%;
  min-height: 100%;
}

section[player-bar] .control-group {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

section[player-bar] .main-controls {
  width: 25%;
  text-align: left;
  padding-right: 1rem;
}

section[player-bar] .main-controls .button-group {
  display: flex;
  justify-content: center;
}

section[player-bar] .main-controls button[disabled] {
  color: gray;
}

section[player-bar] .main-controls .previous {
  margin-right: 16.5%;
}

section[player-bar] .main-controls .play-pause {
  margin-right: 15%;
  font-size: 1.6rem;
  width: 1.6rem;
}

section[player-bar] button.close {
  position: absolute;
  right: 0;
  padding: 15px;
}

section[player-bar] .currently-playing {
  width: 50%;
  text-align: center;
  position: relative;
}

section[player-bar] .currently-playing .song-name,
section[player-bar] .currently-playing .artist-name,
section[player-bar] .currently-playing .artist-song-mobile {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  position: absolute;
  width: 100%;
  font-weight: 300;
}

section[player-bar] .currently-playing .song-name,
section[player-bar] .currently-playing .artist-song-mobile {
  top: 1.1rem;
}

section[player-bar] .currently-playing .artist-name {
  bottom: 1.1rem;
}

section[player-bar] .currently-playing .artist-song-mobile {
  display: none;
}

.seek-control {
  position: relative;
  font-size: 0.8rem;
}

.seek-control .current-time,
.seek-control .total-time {
  position: absolute;
  top: 1rem;
}

.seek-control .total-time {
  right: 0;
}

#seek-bar {
  width: 100%;
}

section[player-bar]  .control-group.volume {
  width: 100%;
  text-align: center;
}

#volume {
  width: 50%;
  margin-left: 1rem;
}

section[player-bar] .volume-number {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 0.8rem;
}

section[player-bar] .volume .icon {
  font-size: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
}

@media (max-width: 640px) {
  section[player-bar] {
    padding: 1rem;
    background-color: rgba(0,0,0,0.6);
    height: 150px;
  }

  section[player-bar] .main-controls,
  section[player-bar] .currently-playing,
  section[player-bar] .volume {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  section[player-bar] .main-controls,
  section[player-bar] .volume {
    min-height: 3.5rem;
    vertical-align: middle;
  }

  section[player-bar] .currently-playing {
    min-height: 2.5rem;
  }

  section[player-bar] .artist-name,
  section[player-bar] .song-name {
    display: none;
  }

  section[player-bar] .currently-playing .artist-song-mobile {
    display: block;
  }

}
