<main class="album-view container narrow">
  <section class="clearfix">
    <div class="column half">
      <img ng-src="{{AlbumCtrl.albumArtUrl}}" class="album-cover-art">
    </div>
    <div class="album-view-details column half">
      <h2 class="album-view-title">{{AlbumCtrl.title}}</h2>
      <h3 class="album-view-artist">{{AlbumCtrl.artist}}</h3>
      <h5 class="album-view-release-info">{{AlbumCtrl.label}}</h5>
    </div>
  </section>
  <table class="album-view-song-list">
    <thead>
      <tr>
        <td class="song-item-number">#</td>
        <td class="song-item-title">Title</td>
        <td class="song-item-duration">Length</td>
        <td class="song-item-play-count">Plays</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in AlbumCtrl.songs" ng-class="{'playing': (AlbumCtrl.currentSongIndex === $index && AlbumCtrl.playing), 'selected': AlbumCtrl.currentSongIndex === $index}" class="album-view-song-item" data-song-index="{{$index}}">
        <td class="song-item-number" data-song-number="{{$index+1}}">
          <button class="album-song-button clear-style" ng-class="AlbumCtrl.currentSongIndex === $index && AlbumCtrl.playing ? 'ion-stop' : 'ion-play'" ng-click="AlbumCtrl.selectSong($event)"></button>
        </td>
        <td class="song-item-title">
          {{song.title}}
          <div class="sound-bars">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
            <div class="bar bar4"></div>
          </div>
        </td>
        <td class="song-item-duration">{{song.duration}}</td>
        <td class="song-item-play-count">{{song.playCount}}</td>
      </tr>
    </tbody>
  </table>
</main>
<ng-include src="'/templates/player_bar.html'"></ng-include>
