<section className="album-covers container clearfix">
  <div className="collection-album-container column fourth">
     <a ui-sref="album.detail({ id: 1 })">
       <div className="image-container">
          <img ng-src={{album.albumCoverArt}} alt="Album Cover Art" />
          <div className="label">  {{album.songs.length}}   songs</div>
       </div>
       <p className="caption">
         <span className="album-name">  {{album.title}}  </span>
         <br/>  {{album.artist}}
       </p>
     </a>
   </div>
</section>
