<section class="album-covers container clearfix">
  <div class="collection-album-container column fourth" ng-repeat="album in CollectionCtrl.albums">
     <a ui-sref="album({ id: {{$index}} })">
       <div class="image-container">
          <img ng-src="{{album.albumArtUrl}}" alt="Album Cover Art" />
          <div class="label">  {{album.songs.length}}   songs</div>
       </div>
       <p class="caption">
         <span class="album-name">  {{album.title}}  </span>
         <br/>  {{album.artist}}
       </p>
     </a>
   </div>
</section>
